@import "bourbon/bourbon";
$font-main: 'Quantico',
sans-serif;
$font-titles: 'Audiowide',
serif;
html {
    background: #996434;
    font-family: $font-main;
}

#jukeback {
    background: url(../images/juke3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 700px;
}

#jukebox {
    margin: 0 auto;
    width: 200px;
    position: relative;
    top: 34%;
    transform: translateY(-50%);
    clear: both;
    .pause {
        background: url(../images/pause.png);
        @extend .buttons;
    }
    .play {
        background: url(../images/play-button.png);
        @extend .buttons;
    }
    #next {
        background: url(../images/next.png);
        @extend .buttons;
    }
    .muteoff {
        background: url(../images/speaker.png);
        @extend .buttons;
        margin-left: 5px;
    }
    .muteon {
        background: url(../images/mute.png);
        @extend .buttons;
        margin-left: 5px;
    }
    #volumeslider {
        width: 70px;
    }
}

#CurrentSong {
    color: #000000;
    text-transform: uppercase;
    font-family: $font-titles;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 16%;
    transform: translateY(-50%);
}

#songSelection {
    width: 285px;
    margin: 0 auto;
    padding-left: 98px;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    .labels {
        float: left;
        .song {
            background: url(../images/button-off.png);
            background-repeat: no-repeat;
            background-position: center;
            font-family: $font-main;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-top: 5px;
            float: left;
        }
        h3 {
            background: white;
            font-family: $font-main;
            text-align: center;
            width: 135px;
            float: left;
            margin: 10px 0 0 1px;
        }
    }
}

.buttons {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
}

//media query 430width and up
@media only screen and (min-width: 430px) {
    #songSelection {}
    #jukebox {
        top: 36%;
        #mute {
            margin-top: 3px;
        }
    }
}
